<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"	
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/util
	http://www.springframework.org/schema/util/spring-util.xsd">



	<bean id="PaypalClientId" class="com.knits.spring.common.integration.PaypalClient" />

	<bean id="DatabaseConnectionPoolId" class="com.knits.spring.common.repositories.DatabaseConnectionPool" />

	<bean id="UserRepositoryId" class="com.knits.spring.common.repositories.UserRepository">
		<property name="databaseConnectionPool" ref="DatabaseConnectionPoolId" />
	</bean>

	<bean id="SeatRepositoryId" class="com.knits.spring.common.repositories.SeatRepository">
		<property name="databaseConnectionPool" ref="DatabaseConnectionPoolId" />
	</bean>

	<bean id="ReservationRepositoryId" class="com.knits.spring.common.repositories.ReservationRepository">
		<property name="databaseConnectionPool" ref="DatabaseConnectionPoolId" />
	</bean>

	<bean id="ReservationServiceId" name="ReservationServiceName" class="com.knits.spring.common.service.ReservationService">
		<property name="paypalClient" ref="PaypalClientId" />
		<property name="userRepository" ref="UserRepositoryId" />
		<property name="seatRepository" ref="SeatRepositoryId" />
		<property name="reservationRepository" ref="ReservationRepositoryId" />
	</bean>

</beans>